# Source: cluster-api-aws/templates/machine-deployment.yaml
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  name: ckoice8dr-md-normal-2
  namespace: ckoice8dr
  annotations:
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-min-size: "1"
    cluster.x-k8s.io/cluster-api-autoscaler-node-group-max-size: "5"
spec:
  clusterName: ckoice8dr
  replicas: 1
  template:
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
          kind: KubeadmConfigTemplate
          name: ckoice8dr-md-normal
      clusterName: ckoice8dr
      failureDomain: ap-northeast-2c
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: AWSMachineTemplate
        name: ckoice8dr-md-normal
      version: v1.22.5
  selector:
        matchLabels: null
